

.graphcalc input[type = "text]{
    display:block;
    }

button{
    position:absolute;
    left:20px;
    bottom:240px;
    
}

canvas{
    border: black solid 1px;
    background-color: #F0FFF0;
    width:400px;
    height:300px;
    border-radius: 5px;
    }