.graphcalc #screen{
    border: black solid 1px;
    background-color: rgb(214, 244, 252);
	margin-left: 10px; 
	margin-top: 10px;
	margin-bottom: 10px;
    width: 385px;
    height: 300px;
    }
        
.graphcalc{
    position:absolute;
	background-color: #E0E0E0;
	width: 410px;
    position: relative;
	margin-left: 600px; 
    margin-top: 70px;
}

#input1{
	width: 355px;
}

#input2{
	width: 140px;
}

text{
	margin-left: 10px;
}

button{
	margin-left: 10px;
}